.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  background-color: #D7B428;
}

header {
  font-family: consolas;
  border: 2px solid #3078D7;
  background-color: #3078D7;
}

header h1 {
  color: gold;
  height: 120px;
  text-align: center;
  font-size: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#footer {
  background-color:#26272b;
  color:#B5C5DB;
  position: absolute;
  bottom: 0;
  width: 1585px;
  height: 3rem;
}

.NumberSection{
  float: left;
  width: 400px;
  height: 300px;
  margin: 20px;
  margin-left: 70px;
  border: 10px solid #3078D7;
}

.Number-rows button{
  margin:10px;
  padding: 10px;
  color: gold;
  background-color: black;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.amount{
  float: left;
  width: 200px;
  height: 150px;
  border: 10px solid #3078D7;
  padding-bottom: 40px;
  margin: 20px;
  margin-left: 200px;
}

.amount button{
  margin:20px;
  padding: 1px;
}

.colornoChange{
  border: 2px solid black(209, 25, 25);
}

.colorchangeInBorder{
  border: 4px solid red;
}

.number-list-display{
  float: right;
  width: 200px;
  height: 280px;
  border: 10px solid #3078D7;
  padding: 10px;
  margin: 20px;
  margin-right: 300px;
}

.Amount-received{
  width: 300px;
  height: 270px;
  border: 10px solid #3078D7;
  padding: 20px;
  margin-left: 600px;
  margin-top: 10px;
}

.Amount-received button{
  border: 1px solid black;
  margin:10px;
  padding: 10px;
  color: gold;
  background-color: black;
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}
